:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark light;

  --secondary-color: #f9f9f9;
  --secondary-color-5: rgba(249, 249, 249, 0.5);
  --primary-color: #242424;
  --primary-color-5: rgba(36, 36, 36, 0.5);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-container-width: 1280px;

  --transition-short: 0.15s;
  --transition-medium: 0.25s;
  --transition-long: 0.35s;
}

%theme-switch-transition {
  transition-property: color, background-color;
  transition-duration: var(--transition-short);
  transition-duration: 0.05s;
  transition-timing-function: ease-in-out;
}

body,
html {
  height: 100%;
}

body {
  @extend %theme-switch-transition;
  margin: 0;
  font-size: 16px;
  color: var(--secondary-color);
  background-color: var(--primary-color);

  &:has(#switch-theme-checkbox:checked) {
    --secondary-color: #242424;
    --primary-color: #ffffff;

    --secondary-color-5: rgba(36, 36, 36, 0.5);
    --primary-color-5: rgba(249, 249, 249, 0.5);
  }
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  cursor: pointer;

  &::selection {
    background-color: transparent;
  }
}

#app {
  max-width: var(--max-container-width);
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#switch-theme {
  position: absolute;
  top: 1rem;
  right: 1rem;

  input {
    appearance: none;
    display: none;

    &:checked + label::after {
      translate: calc(100% + var(--offset) * 2) 0;
    }
  }

  label {
    font-size: 0;
    width: 60px;
    height: 30px;
    border-radius: 1in;
    background-color: var(--secondary-color);
    display: grid;
    align-items: center;
    box-shadow: inset 0 0 4px 1px red;
    box-shadow: inset 0 0 4px 1px var(--primary-color-5);

    &::after {
      --offset: 3px;
      content: "";
      position: absolute;
      height: calc(100% - var(--offset) * 2);
      aspect-ratio: 1;
      left: 0;
      background-color: var(--primary-color);
      border-radius: 1in;
      margin: var(--offset);
      transition-property: background-color, translate;
      transition-duration: var(--transition-long);
    }
  }
}

.card {
  padding: 1.5rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  position: relative;
  border-radius: 0.5rem;
  width: min(100%, 36ch);
  margin-inline: auto;

  h3 {
    margin: 0 0.5rem 0;
  }

  p {
    margin-bottom: 0.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &::before,
  &::after {
    --angle: 0turn;
    content: "";
    border-radius: inherit;
    display: block;
    position: absolute;
    inset: -3px;
    background-image: conic-gradient(
      from var(--angle),
      red,
      green,
      blue,
      yellow,
      red
    );
    animation: rotate 3s linear infinite;
    z-index: -1;
    transition: filter var(--transition-short);
  }

  &::after {
    filter: blur(3px);
  }

  &:hover::after {
    filter: blur(6px);
  }
}

@keyframes rotate {
  to {
    --angle: 1turn;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}
